/******modify******/
.navbar{
min-height: auto;
margin-bottom: 0;
}
.navbar-nav{
margin: 3px 0 0px;
}
.navbar-nav > li{
padding-right: 10px;
padding-left: 10px;
}
.navbar-nav > li:last-child{
padding-right: 0;
}
.navbar-brand{
padding:0;
}
.navbar > .container .navbar-brand{
margin:10px 0 0;
}
.dropdown-menu{
min-width: 142px;
left: 9px;
}
#nav-signup-btn {
  font-size: 12px;
}
.navbar-btn {
   margin-top: 10px;
   margin-bottom: 10px;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover{
background:none!important;
box-shadow:0;
}
/******footer******/
.footer {
	background: #45415d;
	height: auto;
	padding: 40px 0;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
}
.ftr-logo{
	display: block;
	margin:0 0 20px;
}
.footer p {
	margin: 0;
	font-size: 15px;
	font-weight: 600;
	line-height: 27px;
	font-family: Open Sans;
	color: #bcbfc4;
}
.footer img {
	max-width: 100%;
}
.footer h3 {
	color: #FFFFFF;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	margin: 0 0 10px;
	text-transform: uppercase;
}
.footer ul {
	list-style-type: none;
	margin: 0;
	padding:0;
}
.footer ul li{
	margin:0 0 20px;
}
.footer ul li:last-child{
	margin:0;	
}
.footer ul li a {
	padding: 0;
	display: block;
	color: #FFFFFF;
	font-size: 13px;
}

.social li {
	background: none repeat scroll 0 0 #B5B5B5;
	border: 2px solid #B5B5B5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	display:inline-block;
	height: 36px;
	line-height: 36px;
	margin: 0 8px 8px 0!important;
	padding: 0;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.social li:hover {
	border: 2px solid #2c3e50;
	background: #2c3e50;
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}
.social li a {
	color: #EDEFF1;
}
.social li a i {
	font-size: 16px;
	margin: 0;
	color: #EDEFF1 !important;
}

/****14/12/17**************/
.banner_part.signup-content {
    margin-left: 0;
}
.banner_part #brand-signup ,.banner_part #inf-signup{
    margin: 0 30px;
    padding-right: 3%;
	padding-left: 3%;
	width: 265px;
}
.box_inr{
	padding: 0 4.15%;
}
.box_inr .img-circle {
	width:263px;
	height:262px;
}
.startchange{
	margin-bottom: 4%;
}
.realtionship{
	padding-top: 50px; 
	padding-bottom:50px; 
	padding-right: 0px; 
	padding-left:0px; 
	margin-right:0px;
	color: #FFFFFF;
	background-color:#662D91;
}
.modal-position {
    left: 0;
}
.modal-dialog {
    margin: 20px auto;
}
#influencer-signup-form,#business-signup-form{
	text-align: center;
}
#business-image, #influencer-image{
	margin-left:0;
	text-align: center;
}
.form-btns {
    margin-left: 0;
}

/***********about us***********************/
.abt_container{
	padding-top:100px; width:100%; margin-left:0%;
	padding-bottom: 50px;
}
.text-lft{
	padding-left: 35%;
}
.padtop{
	padding-top:50px;
}
.mid_cont {
    overflow: hidden;
}
.imgg{
	float: left;width:263px;margin:0px 0px 10px 0;padding-right:4%;
}
.ifrm{
	width: 560px;
	height: 315px;
}

/********inf-howto****************/
.tab_tbl{
	position: fixed;
	left: 0;
	right: 0;
	width: 100%;
	top:60px;
	z-index: 5;
	background: #f8f8f8;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075)
}
.tab_tbl table td{
	text-align: center;
}



/******b_index(rahul)******/
.image-container{
  position: relative;
}
.collag-container button{
	color:#000;
	padding-right: 8%;
    padding-left: 8%;
	display: block;
}
.collag-container > img {
  width: 100%;
  height: 100%;
}
.image-con-outr{
	position: absolute;
    top: 50%;
    left: 0;
	font-size: 26px;
	color:#FFFFFF;
	width:100%;
	text-transform: uppercase;
	word-wrap: break-word;
	transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-webkit-transform:translateY(-50%); 
}
.image-con-inn{
	width: 40%;
}
.comn-outr{
	padding-top: 50px;
}
.connct-outr{
	padding:20px;
}
.eql-ht{
	height:100px;
}
.eql-ht img{
	margin-top:55px
}
.feeet{
	padding:50px;
}
.feeet img{
	margin-left: 4%;width: 90%;
}
.get-started{
	padding: 50px;
	text-align: center;
}
.get-started p{
	font-size:20px;
}
.free-btn{
	height:50px;width: 185px;
}

/****search page****/

.grey.smaller {

	height: 30px;
	overflow: hidden;
}
.modal-title {
	margin-left: 0% !important;
}
.carousel-control.left {
	background-image: none !important;
}
.carousel-control.right {
	background-image: none !important;
	right: -220px !important;
}
.carousel-control {
	background-color: none !important;
	border: none !important;
}
.carousel-control.left {
	left: -150px !important;
}
.carousel-inner > .item > img {
	padding-top: 8% !important;
}
.inf-info {
	padding-top: 8%
}
.item {
	height: 650px;
}

.swiper-container {
	/*width: 100%;*/
	/*height: 100%;*/
}
.swiper-slide {
	/*text-align: center;*/
	/*font-size: 18px;*/
	background: #fff;
	/* Center slide text vertically */
	/* display: -webkit-box;
	 display: -ms-flexbox;
	 display: -webkit-flex;
	 display: flex;*/
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.width-25 {

	width: 25px;
	height: 25px;
}

input[type="checkbox"] {

	margin: 0px !important;
	vertical-align: middle;
}

.imgsqr {

	height: 180px !important;
	width: 180px !important;
	margin: 10px;
	border-radius: 10px;
}

.tabs {

	background: #fff none repeat scroll 0 0;
	margin: auto 1vw;
	padding: 1vw;
	width: 20% !important;
	border-radius: 6px;
	margin-left: 3%;
}
.card-body {
	border-radius: 10px;
}
.inf-img {
	margin-left: 15.333333%;
	width: 18%;
}
.modal-dialog {
	/*width: 64vw !important;*/
	/*margin-left: -58% !important;*/
}
.tips-modal-title {
	margin-left: 0% !important;
	color: #2d2343 !important;
}
.tips-modal-title-other {
	margin-left: 0% !important;
	color: #2d2343 !important;
	padding-bottom: 4%;
}
.text-class {
	color: #838383;
}
.fa-long-arrow-up {
	color: gray !important;
}
.fa-long-arrow-down {
	color: gray !important;
}

#img-src {
	height: 125px;
	width: 125px;
	border-radius: 50% !important;
}

.down-chev {
	font-family: 'FontAwesome', 'Second Font name';
	display: inline-block !important;
	background: transparent;
	border: none;
	width: 5vw;
	text-align: right;
}
.down-chev {
	width: 7vw;
}
.select-chevron img {
	top: 20px;
	right: 25px;
}
.margin-15 {

	margin-top: 0px;
}
select {
	width: 150px;
	border: 1px solid red;
	-webkit-border-top-right-radius: 15px;
	-webkit-border-bottom-right-radius: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-bottomright: 15px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	padding: 2px;
	border-radius: 5px !important;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	/*font-family: 'FontAwesome', 'Second Font name';*/
	outline: none;
}
.img-square {
	margin-left: 14.333333% !important;
	width: 18% !important;
}
.fa-long-arrow-up {
	color: gray !important;
}
.fa-long-arrow-down {
	color: gray !important;
}
.down-chev {
	font-family: 'FontAwesome', 'Second Font name';
	display: inline-block !important;
	background: transparent;
	border: none;
	width: 6vw;
	text-align: right;
}
.last-chevron {
	width: 100% !important;
}
.select-chevron img {
	height: 15px;
	width: 15px;
	position: absolute;
	right: 50px;
	border: 2px solid #CFCFCF;
	border-radius: 50%;
	padding: 2px;
	top: 9px;
}
.glass img {
	height: 18px;
	width: 18px;
	position: absolute;
	right: 50px;
	/*border: 2px solid #CFCFCF;*/
	/*border-radius: 50%; */
	/*padding: 2px;*/
	top: 7px;
}
input {
	border-radius: 5px !important;
}
.social-span {
	background-color: #fff;
	padding: 5px 10px;
	border-radius: 3px;
}

#signin-modal .modal-footer{
	text-align: center;
}
.sign-btn{
	margin:0 0 10px;
	display: inline-block;
	height:40px;width: 225px;
}
/******18.12.17*****/
.beau_bttm {
    margin-bottom: 15px;
}
.img_margin.img-square {
/*    margin-left: 0 !important;*/
    position: relative;
}

/****pie-chart*****/
.pie {
  display: inline-block;
  position: absolute;
  width: 1em;
  height: 1em;
  background-color: #2f3e46;
  font-size: 7em;
  text-align: center;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  left: -120px;
  top: 30px;
}

.slice-right {
  position: absolute;
  z-index: 11;
  background-color: #ff913b;
  width: 100%;
  height: 100%;
  clip: rect(0, 0.5em, 0.5em, 0.5em);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.slice-left {
  position: absolute;
  z-index: 11;
  background-color: #ff913b;
  width: 100%;
  height: 100%;
  clip: rect(0.5em, 0.5em, 1em, 0.5em);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.percent {
  position: absolute;
  z-index: 20;
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
  background: #1d2225;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.number {
  position: absolute;
  z-index: 30;
  width: 100%;
  height: 100%;
  padding-top: 50%;
  line-height: 0;
  font-size: .3em;
  color: #485c65;
}

.slice-right {
  -webkit-animation-delay: 1.2s;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-name: right-slice;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
}

.slice-left {
  -webkit-animation-delay: 1.5s;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-name: left-slice;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes right-slice {
  from {
    clip: rect(0, 50%, 0.5em, 0.5em);
  }
  50% {
    clip: rect(0, 1em, 0.5em, 0.5em);
  }
  to {
    clip: rect(0, 1em, 1em, 0.5em);
  }
}
@-webkit-keyframes left-slice {
  from {
    clip: rect(0.5em, 0.5em, 1em, 0.5em);
  }
  50% {
    clip: rect(0.5em, 0.5em, 1em, 0);
  }
  to {
    clip: rect(0.3em, 0.5em, 1em, 0);
  }
}
/***endpie-chart*****/

.avrg-cnt{
	display: inline-table;
	width: 94%;
	margin:10px 0;
}
.avrg-cnt p{
	color: #a19e9e;
	font-size:14px;
	margin:0 10px 0 0;
	display: table-cell;
	vertical-align: middle;
	width: 46%;
	text-align: left;
}
.avrg-cnt span{
	color: #a19e9e;
	font-size:14px;
	padding: 0 0 0 20px;
	display: table-cell;
	vertical-align: middle;
	text-align:right;
}
.avrg-cnt input{
	border: 1px solid #b7b7b7;
	height:40px;
	width: 130px;
	padding: 0 6px;
	display: table-cell;
	vertical-align: middle;
}
.pagination_calss{
	text-align: center;
}
.pagination_calss a{
    width: 98px;
    border-radius: 20px;
    padding: 10px 0;
    display: inline-block;
    color:#ffffff;
    font-size:14px;
    background: #02cace;
}
